body{
	font-family: Arial;
	margin:0px;
}
#nav{
	list-style-type: none;
	background-color: #606060;
	margin:0px;
	padding:10px;
	text-align:center;
}
#nav li{
		front-family: verdana;
	display: inline;
	padding: 20px;
	font-size: 110%;
}
#nav a{
	padding: 3px 25px 3px 25px;
	width:200px;
	color:white;
	background-color: #606060;
	text-decoration:none;
}
#nav a:hover{
	color:#B0B0B0;
	
}
#content{
	margin:0 auto;
	max-width:800px;	
}
